<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
    </tr>
  <% end %>
</table>