<div class = "row">
<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
  <p><span class="glyphicon glyphicon-time"></span>  <%= blog.published_at %></p>
  <hr>
  <img src="http://placekitten.com/g/300/500"></img>
  <img src="http://placekitten.com/g/300/500"></img>
  <img src="http://placekitten.com/g/300/500"></img>
  <hr>
  <p><%= blog.text %></p>
  <hr>
<% end %>
</div>

<%= paginate @blogs %>
